{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}/lists/{{ list.id }}/{% endblock %}

{% block table %}
    <table id="id_list_table" class="table">
      {% for item in list.item_set.all %}
      <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
      {% endfor %}
    </table>
    <div class="container">
      <div class="row">
	<h3 id="id_list_owner">{{ list.owner.email }}</h3>
	<div class="col-md-3">
	  <h3>List shared with:</h3>
	  <ul>
	    {% for user in list.shared_with.all %}
	    <li class="list-sharee">{{ user.email }}</li>
	    {% endfor %}
	  </ul>
	</div>

	<div class="col-md-3">
	  <h3>Share this list</h3>
	  <form  method="POST"
		action="/lists/{{ list.id }}/share/" >
	    <input class="form-control" name="sharee" type="text"
		   placeholder="your-friend@example.com">
	    {% csrf_token %}
	  </form>
	</div>
      </div>
    </div>
    
{% endblock %}
